<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./img/weather.png" /> 
    <link rel="stylesheet" type="text/css" href="./css/styles.css" /> 
    <title>About</title>
</head>
<body>
        <div class="main-content">
            {{>header}}
            <p>This website was created by Tobin Ansong.  It ses data from mapbox.com and api.weatherstack.com.</p>
            <img class=".portrait" src="./img/new.png">
            <p>Stock photo above</p>
        </div>

     {{>footer}}
</body>
</html>